<footer
  class="bg-surface-300 dark:bg-surface-900 fixed left-0 bottom-0 w-full sm:p-5 h-[100px] flex items-center justify-center"
>
  <div class="flex justify-around gap-4">
    <div class="flex items-center gap-2">
      <span class="whitespace-nowrap font-mono">Radio Station 2025</span>
    </div>

    <div class="flex items-center gap-2 flex-wrap-reverse">
      <p-select
        [options]="(baseUrls$ | async) || []"
        [(ngModel)]="selectedUrl"
        class="w-24"
        size="small"
        [variant]="'filled'"
        [styleClass]="'font-mono'"
        [disabled]="(baseUrls$ | async)?.length === 0"
        (onChange)="onBaseUrlChange($event)"
      >
        <ng-template #selectedItem let-selectedOption>
          <div class="flex items-center gap-2" *ngIf="selectedOption">
            <i class="fa-solid fa-database"></i>
            <span>{{ selectedOption.label.toUpperCase() }}</span>
          </div>
        </ng-template>

        <ng-template #item let-option>
          <div class="flex items-center gap-2">
            <i class="fa-solid fa-database"></i>
            <span>{{ option.label.toUpperCase() }}</span>
          </div>
        </ng-template>
      </p-select>

      <div>
        <p-button (onClick)="toggleDarkMode()">
          <i *ngIf="storageService.isDark()" class="fa fa-moon"></i>
          <i *ngIf="!storageService.isDark()" class="fa fa-sun"></i>
        </p-button>

        <p-button link id="github">
          <a
            href="https://github.com/GilMarques"
            pButton
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fa-brands fa-github"></i>
          </a>
        </p-button>
      </div>
    </div>
  </div>
</footer>
