<nav
  class="bg-surface-50 h-[60px] flex items-center justify-between lg:justify-end p-6"
>
  <p-button
    class="lg:hidden"
    icon="fa fa-bars"
    label="Menu"
    text
    (click)="showMenu.emit()"
  />

  <div class="flex gap-2">
    <p-button
      icon="fa fa-heart"
      label="Favorites"
      text
      (click)="showFavorites.emit()"
    />
    <p-button
      icon="fa fa-clock-rotate-left"
      label="Recent"
      text
      (click)="showRecent.emit()"
    />

    <p-button
      icon="fa fa-plus"
      label="Contribute"
      (click)="showContribute.emit()"
    />
  </div>

  <!-- <p-button (click)="op.toggle($event)" icon="fa fa-ellipsis-v" />
  <p-popover #op>
    <div class="flex flex-col gap-4">
   
    </div>
  </p-popover> -->
</nav>
