.slider-wrapper ::ng-deep .p-slider .p-slider-range {
  background-color: var(--range-color) !important;
  border-radius: 10px;
  transition: background-color 500ms linear;
}

.slider-wrapper ::ng-deep .p-slider {
  background-color: var(--track-color) !important;
  transition: background-color 500ms linear;
}

.slider-wrapper ::ng-deep .p-slider-handle {
  opacity: 0 !important;
  cursor: default !important;
}

::ng-deep {
  .p-slider {
    height: 14px;
    border-radius: 10px;
  }
}
