.slider-wrapper ::ng-deep .p-slider .p-slider-range {
  background-color: var(--range-color) !important;
  border-radius: 8px;
  transition: background-color 500ms linear;
}

.slider-wrapper ::ng-deep .p-slider {
  background-color: var(--track-color) !important;
  transition: background-color 500ms linear;
  cursor: pointer !important;
}

.slider-wrapper ::ng-deep .p-slider-handle {
  opacity: 0 !important;
  background-color: white;
}

.slider-wrapper ::ng-deep .p-slider-handle::before {
  background-color: white;
}

.slider-wrapper ::ng-deep .p-slider-handle:hover,
.slider-wrapper ::ng-deep .p-slider:hover .p-slider-handle {
  opacity: 1 !important;
}

::ng-deep {
  .p-slider {
    height: 14px;
    border-radius: 10px;
  }
}
