:ng-deep {
  .p-button {
    justify-content: start;
  }
}

.stations-list {
  height: calc(100vh - 185px);
  padding: 10px;
}

::ng-deep .p-drawer .stations-list {
  height: calc(100vh - 128px) !important;
}

.station-item {
  font-size: 24px;

  min-height: 150px !important;
  border-radius: 8px;

  background-color: var(--p-surface-200);
  padding: 18px;

  text-overflow: ellipsis;
  &:hover {
    background-color: var(--p-surface-300);
    transform: scale(1.01);
  }

  &:active {
    transform: scale(0.99);
  }

  display: flex;
  justify-content: start;
  align-items: center;

  gap: 8px;

  img {
    width: 80px;
    border-radius: 8px;
  }

  i {
    width: 80px;
  }
}
